

        <div class="card mb-4">
          <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
          <div class="card-body">
            <h2 class="card-title"><%= blog.title %></h2>
            <p class="card-text"><%= blog.topic.title %>!</p>
            <%= link_to 'Read more &rarr;', blog , class: "btn btn-primary"%>
          </div>
          <div class="card-footer text-muted">
            Posted <%= distance_of_time_in_words(blog.created_at, Time.now) %> ago
          </div>
        </div>