

        <div class="col-lg-6">
            <%= link_to  portfolio_path(portfolio_item.id), class:"portfolio-item" do %>
                <span class="caption">
                  <span class="caption-content">
                    <h2>
                        <%= portfolio_item.title%>
                    </h2>
                    <p class="mb-0"><%= portfolio_item.body%></p>
                  </span>
                </span>
                <%= image_tag (portfolio_item.thumb_image unless portfolio_item.thumb_image.nil?), class:"img-fluid" %>
          <%end%>
        </div>

        

