<%= link_to  "Create new item", new_portfolio_path if logged_in?(:site_admin) %>

    
<section class="content-section" id="portfolio">
    <div class="container">
      <div class="content-section-heading text-center">
        <h3 class="text-secondary mb-0">Portfolio</h3>
        <h2 class="mb-5">Recent Projects</h2>
      </div>
      <div class="row no-gutters">
        <%= render partial: "portfolio_item", collection: @portfolio_items %>
      </div>
    </div>
  </section>