<section id="contact" class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2895.101506976447!2d-80.52072978464625!3d43.47935197167314!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882bf3ee945ec577%3A0x2176770f7ed8738c!2sConestoga%20College%20-%20Waterloo%20Campus!5e0!3m2!1sfr!2sca!4v1567388280712!5m2!1sfr!2sca" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
     <div id="map"></div>   
    <div class="contact-box">
        <div class="contact-box-content">
            
            <h4 class="contact-box-heading-secondary">
                Email
            </h4>
            <p>
                rufataliyevbakou@gmail.com
            </p>
            <h4 class="contact-box-heading-secondary">
            	Phone
            </h4>
            <p>
                +1 613 879 5442
            </p>    
        </div>
    <div>
  </section>
