<h1>Pages#home</h1>
<h1> HI <%= current_user.first_name %>
<p>Find me in app/views/pages/home.html.erb</p>
<h1>posts</h1>
<%= @posts.inspect %>
<h1>Skills</h1>
<%= @skills.inspect %>
<h1>Portfolios</h1>
<%= @portfolios.inspect %>

